body {
    text-align: left;
    font-family: sans-serif;
    color: blue;
}

#post {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    margin: auto;
}

#post h1 {
    font-size: 20px;
}